.page2 {


    background-image: url("https://i.imgur.com/holCKJf.png");
    background-repeat:repeat;
  }

  .page3 {


    background-image: url("https://i.imgur.com/vkSQKQV.png");
    background-repeat:repeat;
  }

  body {

    background-image: url("https://i.imgur.com/gHu7oHv.png");
    background-repeat:repeat;
  }

  

